[Desktop Entry]
GenericName=NEdit
Name=nedit
MimeType=text/plain;
Exec=nedit %U
Icon=nedit
Type=Application
Terminal=false
Categories=Qt;Utility;TextEditor;
